-# ----------------------------------------------------------------------------
-# app/views/layouts/application.html.haml
-# ----------------------------------------------------------------------------

!!!
%html
  %head
    %title  Jumpstart
    %meta{  charset:  "utf-8" }
    %meta{  name:     "viewport", 
            content:  "width=device-width, initial-scale=1, shrink-to-fit=no" }
    
    = csrf_meta_tags
    = stylesheet_link_tag   'application', media: 'all'
    = javascript_pack_tag   'application'
    = javascript_pack_tag   'hello_react'

  %body
    %header
      = render 'layouts/navigation'
    %%main.container-fluid{ role: "main" }
      = yield
